[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
requests = "*"
celery = "*"
django-celery-results = "*"
github = "*"
pygithub = "*"
django-extensions = "*"
ipython = "*"
werkzeug = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.8"
